/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../app/assets/stylesheets/style.css.scss */
body {
  background: #363636 url("/assets/bg-gradient.png") top left repeat-x;
  font-family: "Arial", sans-serif;
  color: #dddddd;
}

/* line 9, ../../app/assets/stylesheets/style.css.scss */
#container {
  width: 820px;
  margin: auto;
  margin-top: 40px;
}

/* line 17, ../../app/assets/stylesheets/style.css.scss */
header.home {
  background: url("/assets/big-logo.png") top center no-repeat transparent;
  padding-top: 114px;
}
/* line 21, ../../app/assets/stylesheets/style.css.scss */
header.home h1 {
  margin-top: 10px;
  color: #ffd800;
  font-family: "Quantico", cursive;
  font-size: 72px;
  text-align: center;
}
/* line 30, ../../app/assets/stylesheets/style.css.scss */
header.results {
  padding-bottom: 10px;
  border-bottom: 1px solid #ffd800;
  text-align: center;
}
/* line 36, ../../app/assets/stylesheets/style.css.scss */
header.results h1 a {
  text-decoration: none;
  color: #ffd800;
  font-family: "Quantico", cursive;
  font-size: 68px;
  line-height: 68px;
  padding-left: 63px;
  background: url("/assets/small-logo.png") center left no-repeat transparent;
}

/* line 50, ../../app/assets/stylesheets/style.css.scss */
#main {
  overflow: hidden;
  *zoom: 1;
}
/* line 53, ../../app/assets/stylesheets/style.css.scss */
#main.home {
  margin: 100px 0 90px 0;
}
/* line 56, ../../app/assets/stylesheets/style.css.scss */
#main.home #user_name {
  width: 691px;
  height: 40px;
  line-height: 40px;
  font-family: "Arial", sans-serif;
  font-size: 22px;
  color: #ccc;
  border: #ffd800 2px solid;
  background: url("/assets/bg-input.png") top left repeat-x white;
  padding-left: 5px;
  margin-right: 20px;
  float: left;
}
/* line 70, ../../app/assets/stylesheets/style.css.scss */
#main.home #submit {
  width: 96px;
  height: 46px;
  background: url("/assets/bg-button.png") center #ffd800;
  border: #ffd800 2px solid;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px 0 rgba(31, 31, 31, 0.5);
  -moz-box-shadow: 3px 3px 3px 0 rgba(31, 31, 31, 0.5);
  box-shadow: 3px 3px 3px 0 rgba(31, 31, 31, 0.5);
}
/* line 80, ../../app/assets/stylesheets/style.css.scss */
#main.home form {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 10px;
}
/* line 82, ../../app/assets/stylesheets/style.css.scss */
#main.home #explanation {
  text-align: center;
  width: 520px;
  margin: auto;
  margin-top: 35px;
  text-shadow: black 1px 1px 1px;
}
/* line 89, ../../app/assets/stylesheets/style.css.scss */
#main.home #explanation h3 {
  color: #ffd800;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 95, ../../app/assets/stylesheets/style.css.scss */
#main.home #explanation p {
  font-size: 18px;
  line-height: 24px;
}
/* line 99, ../../app/assets/stylesheets/style.css.scss */
#main.results {
  margin-top: 40px;
}
/* line 102, ../../app/assets/stylesheets/style.css.scss */
#main.results h2 {
  font-size: 22px;
  margin-bottom: 40px;
}
/* line 107, ../../app/assets/stylesheets/style.css.scss */
#main.results .lcd {
  background: #242424 url("/assets/bg-lcd.gif") top left;
  font-family: "Quantico", cursive;
  color: #ffd800;
}
/* line 113, ../../app/assets/stylesheets/style.css.scss */
#main.results #trigram-wrapper {
  overflow: hidden;
  *zoom: 1;
}
/* line 116, ../../app/assets/stylesheets/style.css.scss */
#main.results #trigram-wrapper #trigram {
  width: 410px;
  float: left;
  margin-right: 10px;
}
/* line 121, ../../app/assets/stylesheets/style.css.scss */
#main.results #trigram-wrapper #trigram .letter {
  font-size: 184px;
  height: 184px;
  line-height: 184px;
  width: 126px;
  text-align: center;
  margin-right: 10px;
  float: left;
  text-shadow: rgba(255, 216, 0, 0.7) 0px 0px 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px inset;
}
/* line 134, ../../app/assets/stylesheets/style.css.scss */
#main.results #trigram-wrapper #trigram.small .letter {
  font-size: 128px;
}
/* line 138, ../../app/assets/stylesheets/style.css.scss */
#main.results #trigram-wrapper #map {
  width: 400px;
  float: left;
  height: 184px;
}
/* line 145, ../../app/assets/stylesheets/style.css.scss */
#main.results #description {
  margin-top: 40px;
}
/* line 148, ../../app/assets/stylesheets/style.css.scss */
#main.results #description h3 {
  font-size: 18px;
}
/* line 150, ../../app/assets/stylesheets/style.css.scss */
#main.results #description .lcd {
  margin: 10px 0 20px 0;
  height: 44px;
  padding-left: 10px;
  font-size: 28px;
  line-height: 44px;
  text-shadow: rgba(255, 216, 0, 0.9) 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px inset;
}
/* line 161, ../../app/assets/stylesheets/style.css.scss */
#main.results .no-airport {
  margin-bottom: 40px;
}
/* line 164, ../../app/assets/stylesheets/style.css.scss */
#main.results .no-airport .lcd {
  height: 44px;
  padding-left: 10px;
  font-size: 28px;
  line-height: 44px;
  text-shadow: rgba(255, 216, 0, 0.9) 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px inset;
}
/* line 173, ../../app/assets/stylesheets/style.css.scss */
#main.results .no-airport p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  text-shadow: black 1px 1px 1px;
}
/* line 179, ../../app/assets/stylesheets/style.css.scss */
#main.results .no-airport p a {
  text-decoration: none;
  color: #ffd800;
}
/* line 183, ../../app/assets/stylesheets/style.css.scss */
#main.results #sharing {
  height: 30px;
  margin-bottom: 40px;
}
/* line 187, ../../app/assets/stylesheets/style.css.scss */
#main.results #sharing #___plusone_0 {
  margin-left: 10px !important;
}
/* line 190, ../../app/assets/stylesheets/style.css.scss */
#main.results #sharing #facebook {
  margin-left: 10px !important;
}

/* line 197, ../../app/assets/stylesheets/style.css.scss */
footer {
  overflow: hidden;
  *zoom: 1;
  border-top: #ffd800 1px solid;
  padding-top: 10px;
  margin-bottom: 40px;
}
/* line 203, ../../app/assets/stylesheets/style.css.scss */
footer #credits {
  color: #dddddd;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  float: left;
  width: 410px;
}
/* line 210, ../../app/assets/stylesheets/style.css.scss */
footer #credits a {
  text-decoration: none;
  color: #dddddd;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.3-p0@airport/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
footer #credits a:hover {
  text-decoration: underline;
}
/* line 213, ../../app/assets/stylesheets/style.css.scss */
footer #global-share {
  float: right;
  width: 410px;
  text-align: right;
}
