#global-share
  :plain
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwhatsmyairport.com&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21&amp;appId=198288893599085" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>

  %a{ :href => "https://twitter.com/share", :class => "twitter-share-button", "data-url" => "http://www.whatsmyairport.com", "data-text" => "What's my Airport | Find your airport based on your name", "data-hashtags" => "whatsmyairport" }
    Tweet

  %g:plusone{ :size => "medium" }

- # Google plus
%script
  window.___gcfg = {lang: 'en'};
  (function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

- #Twitter
%script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

