@import "base";

body{
  background: #363636 url('/assets/bg-gradient.png') top left repeat-x;
  font-family: $basic-font;
  color: $light-grey;
}

#container{
  width: 820px;
  margin: auto;
  margin-top: $vertical-space;
}

header{
  
  &.home{
    background: url('/assets/big-logo.png') top center no-repeat transparent;
    padding-top: 114px;
  
    h1 {
      margin-top: $small-vertical-space;
      color: $yellow;
      font-family: $main-font;
      font-size: 72px;
      text-align: center;
    }
  }
  
  &.results{
    padding-bottom: 10px;
    border-bottom: 1px solid $yellow;
    text-align: center;

    h1{
      a{
        text-decoration: none;
        color: $yellow;
        font-family: $main-font;
        font-size: 68px;
        line-height: 68px;
        padding-left: 63px;
        background: url('/assets/small-logo.png') center left no-repeat transparent;
      }
    }
  }
  
}

#main{
  @include clearfix;

  &.home{
    margin: 100px 0 90px 0;

    #user_name{
      width: 691px;
      height: 40px;
      line-height: 40px;
      font-family: $basic-font;
      font-size: 22px;
      color: #363636;
      border: $yellow 2px solid;
      background: url('/assets/bg-input.png') top left repeat-x #FFF;
      padding-left: 5px;
      margin-right: $horizontal-space;
      float: left;
    }
  
    #submit{
      width: 96px;
      height: 46px;
      background: url('/assets/bg-button.png') center $yellow;
      border: $yellow 2px solid;
      float: left;
      @include border-radius(5px);
      @include box-shadow(3px 3px 3px 0 rgba(#1f1f1f, 0.5));
    }
    
    form { @include clearfix; padding-bottom: $small-vertical-space; }
    
    #explanation{
      text-align: center;
      width: 520px;
      margin: auto;
      margin-top: 35px;
      @include text-shadow(#000 1px 1px 1px);
      
      h3{
        color: $yellow;
        font-size: 20px;
        margin-bottom: $small-vertical-space;
      }
      
      p { font-size: 18px; line-height: 24px; }
    }
  }
  
  &.results{
    margin-top: $vertical-space;

    h2{
      font-size: 22px;
      margin-bottom: $vertical-space;
    }

    .lcd{
      background: #242424 url('/assets/bg-lcd.gif') top left;
      font-family: $main-font;
      color: $yellow;
    }

    #trigram-wrapper{
      @include clearfix;

      #trigram{
        width:410px;
        float:left;
        margin-right: 10px;

        .letter{
          font-size: 184px;
          height: 184px;
          line-height: 184px;
          width: 126px;
          text-align: center;
          margin-right: 10px;
          float: left;
          @include text-shadow(rgba($yellow, 0.7) 0px 0px 35px);
          @include box-shadow(rgba(#000, 0.4) 0px 0px 15px inset);
        }

        &.small{
          .letter{ font-size: 128px; }
        }
      }

      #map{
        width: 400px;
        float: left;
        height: 184px;
      }
    }

    #description{
      margin-top: $vertical-space;

      h3 { font-size: 18px; }

      .lcd{
        margin: 10px 0 20px 0;
        height: 44px;
        padding-left: 10px;
        font-size: 28px;
        line-height: 44px;
        @include text-shadow(rgba($yellow, 0.9) 0px 0px 10px);
        @include box-shadow(rgba(#000, 0.4) 0px 0px 10px inset);

        a{ color: #ffd800; text-decoration: none; }
      }
    }
    
    .no-airport{
      margin-bottom: $vertical-space;
      
      .lcd {
        height: 44px;
        padding-left: 10px;
        font-size: 28px;
        line-height: 44px;
        @include text-shadow(rgba($yellow, 0.9) 0px 0px 10px);
        @include box-shadow(rgba(#000, 0.4) 0px 0px 10px inset);
      }
      
      p{
        margin-top: 20px;
        font-size: 20px;
        line-height: 24px;
        @include text-shadow(#000 1px 1px 1px);
        
        a{ text-decoration: none; color: $yellow; }
      }
    }

    #more-links{
      @include clearfix;
      margin-bottom: 80px;
      
      #sharing{
        height: 35px;
        width: 600px;
        float: left;

        #___plusone_0{
          margin-left: 10px !important;
        }
        #facebook{
          margin-left: 10px !important;
        }
      }
    
      #home-link{
        width: 200px;
        float: right;
        text-align: right;

        a{
          display: block;
          float: right;
          color: #363636;
          text-decoration: none;
          padding: 6px 8px 7px 8px;
          background: url('/assets/bg-small-button.png') top left repeat-x $yellow;
          font-size: 18px;
          border: 2px solid $yellow;
          @include border-radius(5px);
          @include box-shadow(3px 3px 3px 0 rgba(#1f1f1f, 0.5));
          @include text-shadow(#FFF 1px 1px 1px);
        }
      }
    }
  }
}

footer{
  @include clearfix;
  border-top: $yellow 1px solid;
  padding-top: $small-vertical-space;
  margin-bottom: $vertical-space;
  
  #credits{
    color: $light-grey;
    font-family: $basic-font;
    font-size: 12px;
    float: left;
    padding-left: 15px;
    background: url('/assets/micro-plane.gif') top left no-repeat transparent;
    width: 390px;
    
    a{ @include hover-link; color: $light-grey; }    
  }
  
  #global-share{
    float: right;
    width: 410px;
    text-align: right;
  }
}
